/************************************************/
/*   PAGE STYLES                                */
/************************************************/

a {
    color: #FF4F1F; /*Genesys Warm Red*/
}

a:hover {
    color: #CC1C00;
}

.btn-primary {
    color: #FF4F1F; /*Genesys Warm Red*/
}

.btn-outline.btn-primary {
    color: #FF4F1F; /*Genesys Warm Red*/
    border-color: #FF4F1F;
}

.btn-outline.btn-primary:hover {
    background-color: #FFCE9E; 
}

.ideas .idea a {
    color: #5D3E5D; /*Genesys Plum*/
}

.btn-vote {
    border-color: #5D3E5D; /*Genesys Plum*/
    color: #5D3E5D;
}

.btn-vote .vote-status {
    background-color: #5D3E5D; /*Genesys Plum*/
}

.filters .filter.active {
    background-color: #5D3E5D; /*Genesys Plum*/
}

/************************************************/
/*   GENESYS HEADER STYLES                      */
/************************************************/

.genesys-header h1 {
    color: #4E5054; /*Genesys Charcoal Gray*/
}

.genesys-header .title {
    width: 77%;
    padding-left: 20px;
    box-sizing: border-box;
}
   
.genesys-header .title h4{
    text-transform: none;
    color: #4E5054; /*Genesys Charcoal Gray*/
    font-weight: normal;
}

.genesys-header .logo {
    line-height: 1;
}

.genesys-header .title p {
    margin: 0 0 10px;
}

.genesys-header .logo h3 {
    font-weight: 300;
    font-size: 1.925rem;
    text-align: center;
    margin: 0;
}

.genesys-header .logo h3 strong {
    font-weight: 900;
}

.genesys-header .pureconnect-logo-svg {
    max-width:160px;
    margin: 0 auto;
    display: block;
}

.genesys-header .pureconnect-logo-path {
    fill: none;
    stroke: #FF4F1F;
    stroke-miterlimit: 10;
    stroke-width: 3.5px;
}